*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #f8f7ff;
}

#about{
    height: 100vh;
}
#tech{
    height: 100vh;
   
}
#projects{
    height: 1000vh;
}
#bg-fill{
    height: 120vh;
    background-image: url(bg/wave-haikei\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bg-unfill{
    height: 120vh;
    background-image: url(bg/unfill.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#current{
    height: 100vh;
}
#connect{
    height: 100vh;
}
.text{
    margin-bottom: 0.5rem;
}
.container{
    width:250px;
    height:250px;
    margin:20px auto 0 auto;
    background:transparent;

    display:flex;
    align-items: center;
    justify-content: center;
  }

  .react-logo{
    animation-name:rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }
.heading{
    font-size: xx-large;
}

.empty{
    opacity: 0;
}
.pl-5{
    font-size: 1.25rem;
}